MDVision.Business/Service References/AlphaIIService/scrub.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://services.alphaii.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://services.alphaii.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://services.alphaii.net/">
      <s:element name="Scrub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EDIServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Submitter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PW" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RPTType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EDIData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScrubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScrubResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ScrubSoapIn">
    <wsdl:part name="parameters" element="tns:Scrub" />
  </wsdl:message>
  <wsdl:message name="ScrubSoapOut">
    <wsdl:part name="parameters" element="tns:ScrubResponse" />
  </wsdl:message>
  <wsdl:portType name="ScrubMethodSoap">
    <wsdl:operation name="Scrub">
      <wsdl:input message="tns:ScrubSoapIn" />
      <wsdl:output message="tns:ScrubSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScrubMethodSoap" type="tns:ScrubMethodSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Scrub">
      <soap:operation soapAction="https://services.alphaii.net/Scrub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScrubMethodSoap12" type="tns:ScrubMethodSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Scrub">
      <soap12:operation soapAction="https://services.alphaii.net/Scrub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScrubMethod">
    <wsdl:port name="ScrubMethodSoap" binding="tns:ScrubMethodSoap">
      <soap:address location="https://services.alphaii.net/Scrub/scrub.asmx" />
    </wsdl:port>
    <wsdl:port name="ScrubMethodSoap12" binding="tns:ScrubMethodSoap12">
      <soap12:address location="https://services.alphaii.net/Scrub/scrub.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>